<%= render '/navbar' %>

<p style="color: green"><%= notice %></p>

<div class="cards_list">
  <% @groups.each do |group| %>
    <%= link_to group, class:"category-card" do %>
      <%= render group %>
    <% end %>
  <% end %>
</div>

<%= link_to "Add Category", new_group_path, class: "category_button" %>
