<%= render '/navbar' %>

<p style="color: green"><%= notice %></p>

<div class='category-card'>
<%= link_to edit_group_path(@group) do %>
  <%= render @group %>
<% end %>
</div>


<div class='red-align'>
  <%= button_to "Remove Category", @group, method: :delete, class:'red' %>
</div>


<div>
  <h1 class='t-title'>Transactions<h1>
  <div class="cards_list">
    <%= render @group.transactions.order(created_at: :desc) %>
  </div>

  <%= link_to "New Transaction", new_group_transaction_path(@group), class: "category_button" %>
</div>