<div class='main-container'>
<div class='title-container'>
  <h1 class='budget-title'>Budget app</h1>
</div>
  <%if current_user%>
    <h2 class="welcome">Welcome, <%= current_user.name %>!</h2>
  <% end %>
<div class='div-icon'>
  <%= image_tag "budget.png", class:"app-icon" %>
</div>
<div class='main-btns'>
  <%if current_user%>
    <%= link_to "Categories", groups_path, class:"app_button standard_button" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"app_button red_button" %>
  <% else %>
    <%= link_to "Log In", new_user_session_path, class:"log-in" %>
    <%= link_to "Sign Up", new_user_registration_path, class:"sign-up" %>
  <% end %>
</div>

<p class='developed'> Developed by: <a href="https://github.com/juanse7793"target="_blank" rel="noopener noreferrer">Juan Sebastian Sotomayor</a></p>

</div>